<div class="history">
  <dir class="card p-3">
    <h3 style="text-align: center;">All Transactions History In MYCOIN System</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">From Address</th>
          <th scope="col">To Address</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each transactionHistory}}
        <tr class="table-success">
          <th scope="row">{{@index}}</th>
          <td style="max-width: 400px">{{this.fromAddress}}</td>
          <td style="max-width: 400px">{{this.toAddress}}</td>
          <td>{{this.amount}}</td>
          <td>{{this.dateTime}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </dir>
</div>