<div class="wallet">
  <div class="card w-100">
    <div class="card-header">
      Wallet
    </div>
    <div class="card-body">
      <div id="address" class="d-flex mt-2">
        <h5>Address:</h5>
        <span>address</span>
      </div>
      <div id="balance" class="d-flex">
        <h5>Balance:</h5>
        <span>balance</span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      My Transactions
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Type</th>
            <th scope="col">From/To Address</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactionHistory}}
          <tr class="table-primary">
            <th scope="row" style="width: 20px">{{@index}}</th>
            <td style="width: 30px">{{this.type}}</td>
            <td style="max-width: 400px;">{{this.address}}</td>
            <td style="width: 20px">{{this.amount}}</td>
            <td style="width: 180px">{{this.dateTime}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</div>
<script>

</script>